body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
}

.image {
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden;
    border-radius: 8px;
}

.image img {
    width: 100%;
    height: auto;
}

.image:hover {
    transform: scale(1.05);
}